* {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

.body-composition {
  background: #2E3436;
  padding-top: 1%;
  padding-bottom: 10%;
}

.link:hover {
  color: #000000;
}

.link {
  color: #126480;
}

.top {
  background-image: linear-gradient(to right, #F8F8F8, #c4c4c4)
}

#perfil {
  display: inline-block;
  border-radius: 50%;
  width: 25%;
}

#perfil-description {
  text-align: justify;
  text-justify: inter-word;
  font-size: 16px;
}

.social-icons {
  font-size: 30px;
}

.card {
  box-shadow: 0 4px 8px 0 #7E939A;
  transition: 0.6s;
  padding: 2%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 #8D8D8D;
}

.card-paragraph {
  text-align: justify;
  text-justify: inter-word;
  font-size: 16px;
}

.card-left-side-content {
  padding-top: 3%;
}

.card-right-side-content {
  padding: 3%;
  padding-inline: 5%;
}

#button-header {
  background: #2E3436;
  font-weight: bold;
  padding-inline: 5%;
}

#button-header:hover {
  box-shadow: 0 4px 8px 0 #7E939A;
  transition: 0.6s;
  background: #2e3436c7;
}

.card-info {
  background-color: #F8F8F8;
  border-radius: 3px;
  padding: 2%;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

/* Container for skill bars */

.container-box {
  background-color: #7E939A;
  /* Grey background */
  width: 100%;
}

.container-box:hover {
  box-shadow: 0 4px 8px 0 #7E939A;
  transition: 0.6s;
  /*background-color: #2e3436c7;*/
}

.skills {
  text-align: right;
  /* Right-align text */
  padding-top: 10px;
  /* Add top padding */
  padding-bottom: 10px;
  /* Add bottom padding */
  color: #f8f8f8;
  /* White text color */
}

.cpp {
  width: 70%;
  background-color: #000;
}

.cpp:hover {
  background-color: rgb(88, 86, 86);
}

.python {
  width: 60%;
  background-color: #000;
}

.python:hover {
  background-color: rgb(88, 86, 86);
}

.html {
  width: 40%;
  background-color: #000;
}



.html:hover {
  background-color: rgb(88, 86, 86);
}

.css {
  width: 80%;
  background-color: #000;
}


.css:hover {
  background-color: rgb(88, 86, 86);
}

.js {
  width: 65%;
  background-color: #000;
}



.js:hover {
  background-color: rgb(88, 86, 86);
}

.php {
  width: 60%;
  background-color: #000;
}



.php:hover {
  background-color: rgb(88, 86, 86);
}

#button-github-right {
  background: #2E3436;
  font-weight: bold;
  padding-inline: 10%;
  width: 100%;
}

#button-github-right:hover {
  box-shadow: 0 4px 8px 0 #7E939A;
  transition: 0.6s;
  background: #2e3436c7;
}