<div class="row">
    <div class="card background">
        <div class="card-body card-container">
            <div class="row">
                <div class="col-md-3">
                    <img src="../../assets/img/perfil.jpg" width="150" height="150" class="profile">
                </div>
                <div class="col-md-5">
                    <h2>Especialista em Desenvolvimento de Sistemas Java <i class="bi bi-filetype-java"></i></h2>
                    
                </div>
            </div>
            <div class="row">
                <hr class="line-div">
            </div>
            <div class="row">
                <p class="paragraph">
                    Formado em 2018 em Bacharelado em Ciências da Computação pela Universidade Tecnológica Federal do
                    Paraná e Especialista em 2022 em Desenvolvimento Java pela mesma instituição, atuo em desenvolvimento de
                    software desde 2017.
                    Possuo experiências com tecnologias voltadas para aplicações legadas, web, bem como tecnologias de
                    tendência de mercado, tais como frameworks Spring, Hibernate, bancos SQL e NoSQL, Apache Kafka,
                    Apache
                    Camel, Apache Kafka Connect, Apache NIFI e dentre outras voltadas para aplicações como
                    microsserviços.
                </p>
                <p class="paragraph">
                    Tenho interesse em desafios voltados para a área de desenvolvimento de software, considerando boas
                    práticas de programação (uso de design patterns) e aplicação de metodologias de teste (unitário,
                    integração e regressivos). Além disso, possuo interesse em construção de ambientes de
                    desenvolvimento e
                    liberação de produtos que considerem os conceitos estabelecidos pelo CI/CD (Continuous Integration /
                    Continuous Delivery (Deployment))
                </p>
                <p class="paragraph">
                    Sou grande fã de Heavy Metal, música clássica, filmes, animes, mangás, livros e Games (Em especial,
                    um
                    alucinado por Skyrim e toda a Série "The Elders Scrolls" da Bethesda). Além disso, um grande amante
                    da
                    mistura boa que se dá entre Café e Programação.
                </p>
            </div>
            <div class="row">
                <p class="end-presentation">
                    <i class="bi bi-cup-hot-fill presentation-icon"></i>
                    <i class="bi bi-controller presentation-icon"></i>
                    <i class="bi bi-laptop presentation-icon"></i>
                </p>
            </div>



        </div>
    </div>
</div>